<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".CameraActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".CustomNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".SharedPreferencesActivity"
            android:exported="false" />
        <activity
            android:name=".NavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".ListviewActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ToastImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".EditTextActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" /> <!-- 앱을 실행할때 처음으로 시작되는 Activity를 지정 -->
            </intent-filter> <!-- 첫 Activity를 만들기 위해서 필요한 부분 -->
        </activity>
    </application>

</manifest>